---
Checks: >
  *,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-avoid-magic-numbers,
  -google-readability-braces-around-statements,
  -google-readability-function-size,
  -google-runtime-references,
  -google-build-using-namespace,
  -hicpp-exception-baseclass,
  -hicpp-avoid-goto,
  -hicpp-no-array-decay,
  -llvm-include-order,
  -llvm-namespace-comment,
  -misc-misplaced-widening-cast,
  -misc-new-delete-overloads,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,
  -misc-string-compare,
  -misc-throw-by-value-catch-by-reference,
  -misc-unused-parameters,
  -readability-braces-around-statements,
  -readability-function-size,
  -readability-named-parameter,
  -readability-else-after-return,
  -readability-inconsistent-declaration-parameter-name
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
User: tomcat0x42
CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: snake_case
  - key: readability-identifier-naming.StructCase
    value: snake_case
  - key: readability-identifier-naming.FunctionCase
    value: snake_case
  - key: readability-identifier-naming.MethodCase
    value: snake_case
  - key: readability-identifier-naming.EnumCase
    value: snake_case
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.VariableCase
    value: snake_case
  - key: readability-identifier-naming.GlobalVariableCase
    value: snake_case
  - key: readability-identifier-naming.LocalVariableCase
    value: snake_case
  - key: readability-identifier-naming.ConstantCase
    value: snake_case
...
